* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  /* background: linear-gradient(270deg, rgb(116, 170, 185), rgb(166, 91, 205)); */
  
  background: white;

}
header{
  background: linear-gradient(270deg, rgb(116, 170, 185), rgb(166, 91, 205));
  width: 100%;
  height:30vh;

}
#heading {
  text-align: center;
  padding-top: 2rem;
  /* background: linear-gradient(to bottom, #007bff, #00bfff); */
  /* background: linear-gradient(270deg, rgb(116, 170, 185), rgb(166, 91, 205)); */

  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
h1 i {
  margin-right: 0.5rem;
}

h3 {
  font-size: 1.3rem;
  /* opacity: 0.9; */
  color:#e5e5e5;

  
}
h4 {
  color:#333;
}
.btn {
  border: none;
  cursor: pointer;

  display: inline-block;
  padding: 0.5rem 1rem;
  background: white;
  color: #333;
  /* border: solid #333 2px; */
  transition: all 0.3s ease-in;
  border-radius: 5px;
  margin: 0.5rem;
  box-shadow:  0 4px 5px rgba(0, 0, 0, 0.7);
}

.btn:hover {
  background: #333;
  color: white;
}

#options {
  display: flex;
  width: 80%;
  height: 10rem;
  /* border: solid red 3px; */
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 0 auto;
  /* background: linear-gradient(45deg, rgb(1, 233, 92), rgb(132, 50, 197)); */
}
.direction {
  display: inline-block;
  padding:0;
  width: 4rem;
  height: 1.5rem;
  background: white;
  color: #333;
  transition: all 0.3s ease-in;
  border-radius: 5px;
  margin: 0.2rem;
  /* box-shadow:  0 4px 5px rgba(0, 0, 0, 0.7); */

}

.direction.top-left i {

  transform: rotate(-45deg);
}
.direction.top-right i {

  transform: rotate(45deg);
}

.direction.bottom-left i {

  transform: rotate(-135deg);
}
.direction.bottom-right i {

  transform: rotate(135deg);
}
/* .direction.bottom {

  padding:0.2rem 2.65rem;
} */
.direction:hover  {
  background: #333;
}
.direction:hover i  {
  color: white;
}
/* .direction i {
  mix-blend-mode: difference;
} */

#directions .buttons-container{
  flex-direction: column;

  
}
/* .direction i{
  background: #51d8e2;
} */

.gradient-image {
  width: 99%;
  height: 55vh;

background: linear-gradient(135deg, #3ADD4B, #71D5DF); 
 margin: 0 5px;
  margin: auto;
}
.radius {
  border-radius: 20px;
}

.buttons-container {
  display: flex;
  /* border: solid green 3px; */
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
.shape {
  border: solid 3px white;
  transition: all 0.3s ease-in;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 5px;
  padding:0;
}
.shape#square {
  height: 3rem;
}

.shape#rectangle {
  height: 1.5rem;
}
.shape#circle {
  border-radius: 50%;
}
.shape#line {
  height: 0.7rem;
  border-radius: 3px;

}
.shape:hover {
  /* background: #333; */
  /* box-shadow:  0 4px 5px rgba(0, 0, 0, 0.7); */
  /* background:  #333; */
  /* border: none; */
  border: solid 3px #333;



  

}






/* .patterns-container {
  display: flex;
  border: solid blue 3px;
  justify-content: space-evenly;
  align-items: center;
  width: 30rem;
  height: 5rem;
} */

.pattern {
  /* display: inline-block;
  padding: 0.5rem 1rem;
  background: white;
  color: #333;
  transition: all 0.3s ease-in;
  border-radius: 5px;
  margin: 0.5rem;
  box-shadow:  0 4px 5px rgba(0, 0, 0, 0.7); */

}

/* .pattern#linear:hover {
  background: linear-gradient(270deg, rgb(116, 170, 185), rgb(166, 91, 205));
}
.pattern#radial:hover {
  background: radial-gradient(circle, rgb(116, 170, 185), rgb(166, 91, 205));
}
.pattern#conic:hover {
  background: conic-gradient(from 45deg, rgb(116, 170, 185), rgb(166, 91, 205));
} */

.container {
  display: flex;
  height: 10rem;
  width: fit-content;
  /* border: solid purple 3px; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container#image{
  /* background: #333; */
  /* padding:1rem; */
  /* border-radius: 20px; */
  height: 60vh;
  width: 100%;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.7);


}
.container#footer{
  background:  white;
  /* padding:1rem; */
  /* border-radius: 20px; */
  height: 10vh;
  width: 100vw;
  /* height: ; */
  /* margin-top: 10px; */
  color: black;
  /* background-color: #3ADD4B; */
}
#footer .buttons-container{
  flex-direction: column;
}
#footer .buttons-container p{
  margin: 0.5rem;
}


#footer a{
  color:#333;
  margin: 1rem;
  text-decoration: none;
}
#footer a:hover{
  color:#707070;
}

/* #slider .buttons-container {
  flex-direction: row;
} */
#slider .buttons-container{
  box-shadow:  0 4px 5px rgba(0, 0, 0, 0.7);
  padding: 0.5rem 0.8rem;
  border-radius: 50px;
  color: white;
  align-items: center;
}
#slider .buttons-container h4{
  margin-right: 3px;

}

.pressed{
  background: #333;
  color: white;
  border:none;

}

.btn.color{
  padding: 0 0.1rem;
  width:4.5rem;

}





