*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.select-box{
  background: white;
  border-radius: 50%;
  width:40px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  padding: 2rem 0;
  /* background: linear-gradient(to bottom, #007bff, #00bfff); */
  background-image: linear-gradient(270deg, rgb(116, 170, 185), rgb(166, 91, 205));

  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom:0.5rem;
}
h1 i {
  margin-right:0.5rem;
}

h3 {
  font-size: 1.3rem;
  opacity: 0.9;
}
.options{
  display:flex;
  width: 100%;
  height: 10rem;
  border: solid red 3px;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  margin: 30px 0;
}
.arrows{
  display:flex;
  width: 10rem;
  height: 10rem;
  border: solid blue 3px;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  position: relative;
  border-radius: 50%;
margin-left: 30px;
margin-right: 50px;
}
.arrows button{
  /* margin:5px 40px; */
  position:absolute;
  background: none;
}
.arrows #up{
  top:-20px;
}
.arrows #left-up{
  top:15px;
  left:-5px;
  transform: rotate(-45deg);
}
.arrows #right-up {
  top:15px;
  right:-5px;
  transform: rotate(45deg);

}
.arrows #left{
  top:60px;
  left:-20px;
  transform: rotate(-90deg);

}
.arrows #right {
  top:60px;
  right:-20px;
  transform: rotate(90deg);

}
.arrows #left-down{
  top:105px;
  left:0px;
  transform: rotate(-135deg);

}
.arrows #right-down {
  top:105px;
  right:0px;
  transform: rotate(135deg);

}
.arrows #down {
  bottom:-20px;
  transform: rotate(-180deg);

}
.btn{
  border:none;
  cursor: pointer;
}
.gradient-image{
  width:95vw;
  height:20vh;
  background-image: linear-gradient(135deg, rgb(181, 233, 92), rgb(132, 50, 197));
  margin: 0 10px;
  margin: auto;

}
.radius{
  border-radius: 20px;

}

.shapes-container{
  display: flex;
  border: solid green 3px;
  justify-content: space-evenly;
  align-items: center;
  width:30rem;
  height: 5rem;
  
}
.shape{
  border:solid 3px blueviolet;
  transition: all 0.4s ease-in-out;
  width: 3rem;
  height: 3rem;

}
.shape#square{
  height: 3rem;

}
.shape#rectangle{
  height: 1.5rem;
}
.shape#circle{
  border-radius: 50%;
}
.shape#line{
  height: 0.4rem;
}
.shape:hover{
  background: blueviolet;
}