* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(225deg, rgb(87, 128, 139), rgb(166, 91, 205)); */
  
  background: white;
  color: white;

}
header{
  /* background: linear-gradient(225deg, rgb(121, 185, 203), rgb(192, 92, 209)); */
  /* background: radial-gradient(circle at right top, #216079 , #d3fdb0) */

  background: linear-gradient(45deg, rgb(191, 9, 142), rgb(155, 227, 242));
  width: 100%;
  height:30vh;
  
}
#heading {
  text-align: center;
  padding-top: 2rem;
  /* background: linear-gradient(to bottom, #007bff, #00bfff); */
  /* background: linear-gradient(270deg, rgb(116, 170, 185), rgb(166, 91, 205)); */

  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
h1 i {
  margin-right: 0.5rem;
}

h3 {
  font-size: 1.3rem;
  opacity: 0.8;
  /* color:#e5e5e5; */

  
}
/* h4 {
  color:#333;
} */
.btn {
  border: none;
  cursor: pointer;

  display: inline-block;
  padding: 0.5rem 1rem;
  background: white;
  color: #333;
  /* border: solid #333 2px; */
  transition: all 0.3s ease-in;
  border-radius: 5px;
  margin: 0.5rem;
  box-shadow:  0 4px 5px rgba(0, 0, 0, 0.7);
}

.btn:hover {
  background: #333;
  color: white;
}





#options {
  display: flex;
  width: 80%;
  height: 10rem;
  /* border: solid red 3px; */
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 0 auto;
  /* background: linear-gradient(45deg, rgb(1, 233, 92), rgb(132, 50, 197)); */
}
.direction {
  display: inline-block;
  padding:0;
  width: 4rem;
  height: 1.5rem;
  /* background: white;
  color: #333; */
  transition: all 0.3s ease-in;
  border-radius: 5px;
  margin: 0.2rem;
  /* box-shadow:  0 4px 5px rgba(0, 0, 0, 0.7); */

}

.direction.top-left i {

  transform: rotate(-45deg);
}
.direction.top-right i {

  transform: rotate(45deg);
}

.direction.bottom-left i {

  transform: rotate(-135deg);
}
.direction.bottom-right i {

  transform: rotate(135deg);
}
.hidden{

visibility: hidden;
}

.removed{
  display: none;
}
/* .direction.bottom {

  padding:0.2rem 2.65rem;
} */
/* .direction:hover  {
  background: #333;
} */
.direction:hover i  {
  color: white;
}
/* .direction i {
  mix-blend-mode: difference;
} */

#directions .buttons-container{
  flex-direction: column;
  margin: 0.3rem;


  
}
/* .direction i{
  background: #51d8e2;
} */
/* #bg {
  width: 99vw;
  height: 55vh;

background-color: linear-gradient(135deg, #3ADD4B, #71D5DF); 
 margin: 0 5px;
  margin: auto;
  transition: all 0.3s ease-in;

} */
.gradient-image {
  width: 99vw;
  height: 55vh;

background-color: linear-gradient(135deg, #3ADD4B, #71D5DF); 
 margin: 0 5px;
  margin: auto;
  transition: all 0.3s ease-in;

}
.gradient-image.line {
  width: 99vw;
  height: 10vh;
}
.gradient-image.rectangle {
  width: 99vw;
  height: 55vh;
}
.gradient-image.square {
  width: 55vh;
  height: 55vh;
}
.gradient-image.circle {
  width: 55vh;
  height: 55vh;
  border-radius: 50% !important;
}
.gradient-image {
  width: 99%;
  height: 55vh;

background: linear-gradient(135deg, #3ADD4B, #71D5DF); 
 margin: 0 5px;
  margin: auto;
}


.radius {
  border-radius: 20px;
}

.buttons-container {
  display: flex;
  /* border: solid green 3px; */
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
.shape {
  /* border: solid 3px white; */
  transition: all 0.3s ease-in;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 5px;
  padding:0;
}
.shape#square {
  height: 3rem;
}

.shape#rectangle {
  height: 1.5rem;
}
.shape#circle {
  border-radius: 50%;
}
.shape#line {
  height: 0.7rem;
  border-radius: 3px;

}
.shape:hover {
  /* background: #333; */
  /* box-shadow:  0 4px 5px rgba(0, 0, 0, 0.7); */
  /* background:  #333; */
  /* border: none; */
  /* border: solid 3px #333; */



  

}


/* svg{
  z-index: 1000;
} */



/* .patterns-container {
  display: flex;
  border: solid blue 3px;
  justify-content: space-evenly;
  align-items: center;
  width: 30rem;
  height: 5rem;
} */

.pattern {
  /* display: inline-block;
  padding: 0.5rem 1rem;
  background: white;
  color: #333;
  transition: all 0.3s ease-in;
  border-radius: 5px;
  margin: 0.5rem;
  box-shadow:  0 4px 5px rgba(0, 0, 0, 0.7); */


}

/* .pattern#linear:hover {
  background: linear-gradient(270deg, rgb(116, 170, 185), rgb(166, 91, 205));
}
.pattern#radial:hover {
  background: radial-gradient(circle, rgb(116, 170, 185), rgb(166, 91, 205));
}
.pattern#conic:hover {
  background: conic-gradient(from 45deg, rgb(116, 170, 185), rgb(166, 91, 205));
} */

.container {
  display: flex;
  height: 10rem;
  width: fit-content;
  /* border: solid purple 3px; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container#image{
  /* background: #333; */
  /* padding:1rem; */
  /* border-radius: 20px; */
  height: 60vh;
  width: 100%;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.7);


}
/* #footer{
  background:  white;

} */
#footer.container{
  background:  white;
  height: 10vh;
  width: 100vw;
  color: black;
  flex-direction: row;
  /* border: #333 3px solid; */
  justify-content: center;

  display: flex;
  /* grid-template-columns:3fr auto auto;  */
  align-items: center; 
}
#footer .buttons-container{
  flex-direction: column;
  /* margin-left: 40%; */
  text-align: center;
  justify-self: center;
  /* grid-column: 1/3; */
}
#footer .buttons-container p{
  margin: 0.5rem ;
}


#footer .links{
  position: absolute;
  right: 0;
  margin-right: 2vw ;

}
#footer a{
  color:#333;
  margin: 0.5vw ;
  text-decoration: none;
  /* justify-self: flex-start; */
  /* justify-self: right; */
  
}

#footer a:hover{
  color:#707070;
}

/* #slider .buttons-container {
  flex-direction: row;
} */
#slider .buttons-container{
  box-shadow:  0 4px 5px rgba(0, 0, 0, 0.7);
  padding: 0.5rem 0.8rem;
  border-radius: 50px;
  color: white;
  align-items: center;
  /* justify-content: center; */
  margin:0.5rem 0; 
}
/* #slider .buttons-container h4{
  margin-right: 3px;
} */



.btn.color{
  padding: 0 0.1rem;
  width:4.5rem;
}

#get .buttons-container{
  flex-direction: column;
}
 
#footer img{
    width:10vw;
    /* justify-self: flex-start; */
}

#get .btn{
  /* width:5rem; */
  margin: 0.5rem 0 0.2rem 0.3rem;
}
#get .btn#download-btn{
  /* width:fit-content; */
}

#heading #theme-container{
  position: absolute;
  left: 0;
  top:0 ;
  margin: 1vw ;
  display: flex;
  justify-content: center;
  align-items: center;

}
#heading svg{

  margin-left: 0.5vw  ;
  width: 1.2vw;
  height: 1.2vw;

}



















/* 

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: #333;
}


        .toggle-container {
            display: inline-block;
            position: relative;
            width: 60px;
            height: 30px;
            background-color: #ccc;
            border-radius: 15px;
        }

        .toggle-switch {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 26px;
            height: 26px;
            background-color: white;
            border-radius: 50%;
            transition: transform 0.3s;
        }

        input[type="checkbox"]:checked + .toggle-container .toggle-switch {
            transform: translateX(30px);
        }

        input[type="checkbox"] {
            display: none;
        }



input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


 */

  input#toggle-btn {
	display : none;
}
div label {
	position: relative;
	cursor: pointer;
	display :block;
	width: 50px;
	height: 30px;
	background: #cccccc;
	border-radius: 50px;
	transition: 300ms linear;
}

div label:before {
	position: absolute;
	top: 50%;
	left: 3px;
	transform: translateY(-50%);
	content: "";
	display: block;
	width: 23px;
	height: 23px;
	background: white;
	border-radius: 50%;
	transition: left 200ms linear;
}

div input:checked + label {
	background: #333;
}

div input:checked + label:before {
	left: 24.5px;
}





.dark-btn {
  background: #333;
  color: white;

}

.dark-btn:hover {
 
  background: white;
  color: #333;
}
.dark-btn:hover i{
 
  color: #333;
}
.dark-bg {
  background-color: #333 ;
}
.dark-color {
  color: #333 !important;
  /* background: #333; */

}
.light-pressed{
  background: #333 !important;
  color: white !important;
  border:none;
}
.dark-pressed{
  background: white ;
  color: #333 ;
  border:none;
}
.light-color{
color: white;
}
.light-bg{
background: white;
}




@media(max-width:768px){
  #options {
    height: fit-content;
    flex-direction: column;
    padding-top: 20px;
  }
  .container {
    height: fit-content;
    /* border:red 3px solid; */
  }
  #heading {
    padding-top: 0;
  }
  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }
  h3 {
    font-size: 0.9rem;
  }

  #footer.container{
    flex-direction: column;
  }
  #footer .links{
    position: relative;
    display: flex;  
  }
  #footer .links a{
    margin: 0 10px; 
  }
  #footer img{
    width:30vw;
}

svg{
width:200px;
height: 300px;
/* size: 40px; */
}
header{

  height:60px;
  
}
body{
  background:#e3e3e3;
}
.container#image{
  margin-top: 600px;
}
.dark-bg {
  background-color: #444444 ;
}



  
}